@media only screen and (min-width: 320px) {
	/* ↓↓↓ section 1 ↓↓↓ */
	.s1-wrapper {
		max-width            : 1920px;
		height               : 100vh;
		margin               : 0 auto;
		position             : relative;
		overflow             : hidden;
	  .section1__video {
	  	max-width          : 1920px;
	  	min-width          : 100%;
	  	min-height         : 100vh;
	  }
	}
	.section1 {
		width                : 300px;
		height               : calc(100vh - 120px);
		padding              : 0 15px;
		position             : absolute;
		z-index              : 1;
		top                  : 50%;
		left                 : 50%;
		transform            : translate(-50%,-50%);
	  &__header {
			font-family        : rcl;
			font-size          : 30px;
			color              : white;
			text-align         : center;
			padding-top        : 10px;
	  }
	  &__fname {
			font-family        : rb;
			font-size          : 30px;
			color              : white;
			text-align         : center;
	  }
	  &__subheader {
			font-family        : rcl;
			font-size          : 14px;
			color              : white;
			text-align         : center;
	  }
	  &__registry-btn {
			text-transform     : uppercase;
			position           : absolute;
			left               : 50%;
			top                : 50%;
			transform          : translate(-50%,-50%);
			background-color   : #e91248;
	    &:hover {
	    	background-color : #c70026;
	    }
	  }
	  &__offering-container {
			width              : 100%;
			position           : absolute;
			bottom             : 50px;
			left               : 50%;
			transform          : translate(-50%);
			display            : flex;
			justify-content    : space-between;
	  }
	  &__offering-item {
			width              : 66px;
			height             : 66px;
			border             : 1px solid white;
			border-radius      : 6px;
			background-color   : rgba(255,255,255,.1);
			font-family        : rcb;
			font-size          : 14px;
			text-align         : center;
			color              : white;
			padding-top        : 16px;
			transition         : background-color .5s;
			position           : relative;
	  	svg {
	  		font-size        : 14px;
	  	}
	  	&:hover {
	  		background-color : rgba(255,255,255,.7);;
	  	};
	  }
	}
	/* ↑↑↑ /section 1 ↑↑↑ */

	/* ↓↓↓ section 2 ↓↓↓ */
	.s2-wrapper {
		max-width            : 1920px;
		margin               : 0 auto;
		position             : relative;
		overflow             : hidden;
	}
	.section2 {
		width                : 300px;
		padding              : 20px 15px 0px;
		margin               : 0 auto;
		&__header {
			font-family        : rcb;
			font-size          : 20px;
			text-align         : center;
		}
		&__subheader {
			font-family        : rcl;
			font-size          : 16px;
			text-align         : center;
			color              : #767676;
			padding            : 20px 0 20px;
		}
		&__img {
			width              : 90%;
			display            : block;
			margin             : 0 auto;
		}
		&__instruction-container {
			padding            : 20px 0;
			display            : flex;
			justify-content    : space-around;
			flex-wrap          : wrap;
		}
		&__instruction-item {
	    width              : 280px;
	    text-align         : center;
		}
		&__instruction-header {
			font-family        : rcb;
			font-size          : 18px;
			padding-bottom     : 10px;
			padding-top        : 10px;
		}
		&__instruction-body {
			font-family        : rcl;
			font-size          : 16px;
			color              : #767676;
			line-height        : 1.4em;
		}
	}
	/* ↑↑↑ /section 2 ↑↑↑ */

	/* ↓↓↓ section 3 ↓↓↓ */
	.s3-wrapper {
		max-width            : 100%;
		margin               : 0 auto;
		position             : relative;
		overflow             : hidden;
		background-color     : #34965b;
	}
	.section3 {
		width                : 300px;
		padding              : 50px 15px;
		margin               : 0 auto;
		font-family          : rcl;
		font-size            : 16px;
		line-height          : 1.4em;
		color                : white;
		text-align           : center;
		position             : relative;
	  &:after,
	  &:before {
	    content            : '';
	    display            : block;
	    width              : 200px;
	    height             : 1px;
	    background-color   : white;
	    position           : absolute;
	    left               : 50%;
	    transform          : translate(-50%);
	  }
	  &:after {
	  	bottom             : 30px;
	  }
	  &:before {
	  	top                : 30px;
	  }
	}
	/* ↑↑↑ /section 3 ↑↑↑ */

	/* ↓↓↓ section 4 ↓↓↓ */
	.s4-wrapper {
		max-width            : 1920px;
		margin               : 0 auto;
		position             : relative;
		overflow             : hidden;
	}
	.section4__bg {
		position             : absolute;
		left                 : 50%;
		bottom               : 0;
		transform            : translate(-50%);
		z-index              : 0;
		opacity              : .5;
		height               : 100%;
		width                : 1200px;
	}
	.section4 {
		width                : 300px;
		margin               : 0 auto;
		padding              : 20px 15px;
		position             : relative;
		z-index              : 1;
		&__header {
			font-family        : rcb;
			font-size          : 20px;
			text-align         : center;
		}
		&__buttons-holder {
			width              : 100%;
			margin             : 20px auto;
	    display            : flex;
	    justify-content    : space-around;
	    align-items        : center;
	    flex-wrap          : wrap;
		}
		&__btn {
			margin-bottom      : 10px;
			color              : #767676;
	    border             : 1px solid #767676;
	    transition         : all .5s;
	    &:hover {
	    	background-color : dodgerblue;
	    }
		}
		&__btn_activ {
			border-radius      : 6px;
			background-color   : dodgerblue;
			color              : white;
		}
		&__cards-holder {
	    display               : grid;
	    grid-template-columns : 1;
	    grid-gap              : 15px;
	    justify-content       : center;
		}
		&__card {
			width                 : 270px;
			height                : 320px;
			border                : 1px solid lightgrey;
			border-radius         : 6px;
			padding               : 15px;
	    text-align            : center;
	    transition            : opacity .5s;
	    display               : block;
	    &:nth-of-type(4),
	    &:nth-of-type(5),
	    &:nth-of-type(6),
	    &:nth-of-type(7),
	    &:nth-of-type(8),
	    &:nth-of-type(9) {
	      display             : none;
	    }
	    svg {
	    	font-size           : 24px;
	    }
		}
		&__card-header {
			font-family           : rcb;
			font-size             : 20px;
			padding               : 10px 0;
		}
		&__card-body {
			font-family           : rcl;
			line-height           : 1.4em;
			color                 : #767676;
		}
	}
	/* ↑↑↑ /section 4 ↑↑↑ */

	/* ↓↓↓ section 5 ↓↓↓ */
	.s5-wrapper {
		max-width            : 100%;
		margin               : 0 auto;
		position             : relative;
		overflow             : hidden;
		background-color     : black;
	}
	.section5__bg {
		position             : absolute;
		top                  : 0;
		left                 : 50%;
		transform            : translate(-50%);
		z-index              : 0;
		width                : 1200px;
	}
	.section5 {
		width                : 300px;
		height               : 360px;
		margin               : 0 auto;
		padding              : 50px 15px;
		position             : relative;
		z-index              : 1;
		display              : grid;
		grid-template-columns: 1fr;
		grid-gap             : 60px;
		&__left {
			position           : relative;
		}
		&__btn {
			height             : 60px;
			width              : 200px;
			padding-top        : 18px;
			font-size          : 20px;
			border-radius      : 30px;
			background-color   : red;
			box-shadow         : 0 0 10px white;
			position           : absolute;
			top                : 50%;
			left               : 50%;
			transform          : translate(-50%,-50%);
		}
		&__right {
			color              : white;
			text-align         : center;
		}
		&__header {
			font-family        : rcb;
			font-size          : 18px;
		}
		&__boldhed {
			font-family        : rb;
			font-size          : 22px;
		}
		&__subheader {
			font-family        : rcl;
			font-size          : 16px;
			padding-top        : 30px;
		}
	}
	/* ↑↑↑ /section 5 ↑↑↑ */

	/* ↓↓↓ section 6 ↓↓↓ */
	.s6-wrapper {
		max-width            : 100%;
		position             : relative;
		overflow             : hidden;
		background-color     : white;
	}
	.section6 {
		width                : 300px;
		margin               : 0 auto;
		padding              : 20px 15px 20px 50px;
		&__list-item {
			margin-bottom      : 10px;
		}
		&__list-header {
			font-family        : rcb;
			font-size          : 18px;
			color              : #767676;
			line-height        : 1.3em;
			position           : relative;
		}
	  &__list-number {
	  	display            : block;
	  	width              : 30px;
	  	height             : 30px;
	  	border-radius      : 50%;
	  	background-color   : dodgerblue;
	  	color              : white;
	  	font-family        : rcl;
	  	text-align         : center;
	  	padding-top        : 2px;
	  	position           : absolute;
	  	top                : 0px;
	  	left               : -40px;
	  }
		&__list-boby {
			font-family        : rcl;
			font-size          : 16px;
			line-height        : 1.3em;
		}
	}
	/* ↑↑↑ /section 6 ↑↑↑ */

	/* ↓↓↓ section 7 ↓↓↓ */
	.s7-wrapper {
		max-width            : 100%;
		position             : relative;
		overflow             : hidden;
		background-color     : dodgerblue;
	}
	.section7 {
		width                : 300px;
		margin               : 0 auto;
		padding              : 20px 15px;
		color                : white;
		text-align           : center;
	  &__header {
	  	font-family        : rcl;
	  	font-size          : 20px;
	  }
	  &__header_bold {
	  	font-family        : rb;
	  	font-size          : 20px;
	  }
	}
	/* ↑↑↑ /section 7 ↑↑↑ */

	/* ↓↓↓ section 8 ↓↓↓ */
	.s8-wrapper {
		max-width               : 1920px;
		margin                  : 0 auto;
		position                : relative;
		overflow                : hidden;
	}
	.section8 {
		width                   : 300px;
		margin                  : 0 auto;
		padding                 : 20px 15px;
		text-align              : center;
		&__cards-holder {
		  display               : grid;
		  grid-template-columns : 1fr;
		  justify-content       : space-evenly;
	  }
	  &__card {
	  	border                : 1px solid white;
	  	border-radius         : 6px;
	  	padding               : 10px;
	  	padding-bottom        : 56px;
	  	position              : relative;
	  	background-color      : rgba(0,0,0,.5);
	  	transition            : background-color .5s;
	  	margin-bottom         : 10px;
	  	&:hover {
	  		background-color   : rgba(0,0,0,.8);
	  	}
	  }
	  &__card-header {
	  	font-family           : rcb;
	  	font-size             : 25px;
	  	color                 : maroon;
	  	text-shadow           : 0 0 2px black;
	  }
	  &__card-price {
	  	font-family           : rcb;
	  	font-size             : 20px;
	  	color                 : #34965b;
	  	padding               : 5px 0;
	  	text-shadow           : 0 0 2px gold;
	  	svg {
	  		color               : black;
	  	}
	  }
	  &__card-list-item {
	  	font-family           : rcl;
	  	font-size             : 16px;
	  	color                 : white;
	  	padding-bottom        : 5px;
	  	position              : relative;
	  	&:after {
	  		content             : '';
	  		display             : block;
	  		width               : 30px;
	  		height              : 1px;
	  		background-color    : lightgrey;
	  		position            : absolute;
	  		left                : 50%;
	  		bottom              : 2px;
	  		transform           : translate(-50%);
	  	}
	  }
	  &__registry-btn {
	    background-color      : #34965b;
	    position              : absolute;
	    bottom                : 10px;
	    left                  : 50%;
	    transform             : translate(-50%);
	    &:hover {
	    	background-color    : #127439;
	    	color               : white;
	    	border-radius       : 6px;
	    }
	  }
	}
	/* ↑↑↑ /section 8 ↑↑↑ */

	/* ↓↓↓ section 9 ↓↓↓ */
	.s9-wrapper {
		max-width               : 100%;
		position                : relative;
		overflow                : hidden;
	}
	.section9 {
		width                   : 300px;
		margin                  : 0 auto;
		padding                 : 20px 15px 0px;
		display                 : grid;
		grid-template-columns   : 1fr;
		grid-gap                : 15px;
	  &__header {
			font-family           : rcb;
			padding-bottom        : 20px;
			font-size             : 20px;
			color                 : #34965b;
			text-align            : center;
	  }
	  &__text {
			font-family           : rcl;
			font-size             : 16px;
			color                 : #767676;
			line-height           : 1.3em;
			padding-bottom        : 20px;
			text-align            : justify;
	  }
	  &__img {
			display               : block;
			margin                : 0 auto;
			width                 : 100%;
	  }
	  &__right {
	    position              : relative;
	  }
	  &__right-grid {
			position              : relative;
			top                   : 50%;
			left                  : 50%;
			transform             : translate(-50%,-50%);
			display               : grid;
			grid-template-columns : auto auto;
			grid-gap              : 10px;
			justify-content       : center;
			align-items           : center;
	  }
	  &__right-item {
			width                 : 100px;
			height                : 100px;
			text-align            : center;
	  	svg {
				color               : dodgerblue;
				font-size           : 60px;
	  	}
	  }
	  &__number {
			font-family           : rcl;
			font-size             : 30px;
	  }
	}
	/* ↑↑↑ /section 9 ↑↑↑ */

	/* ↓↓↓ section 10 ↓↓↓ */
	.s10-wrapper {
		max-width             : 100%;
		position              : relative;
		overflow              : hidden;
	}
	.section10 {
		width                 : 300px;
		margin                : 0 auto;
		padding               : 20px 15px;
		display               : grid;
		grid-template-columns : 1fr;
		grid-gap              : 20px;
		&__img {
			display             : block;
			margin              : 0 auto;
		}
		&__text {
			font-family         : rcl;
			font-size           : 16px;
			text-align          : justify;
			line-height         : 1.3em;
			padding-bottom      : 20px;
		}
		.toggle {
			display             : block;
			height              : 50px;
	    line-height         : 25px;
			font-family         : rcb;
			font-size           : 16px;
			border              : 1px solid transparent;
			border-radius       : 6px;
			padding             : 0 5px 0 30px;
			background-color    : lightgrey;
			margin-bottom       : 1px;
			outline             : none;
			transition          : color 1s, background-color 1s;
			position            : relative;
			.fa-chevron-down {
				position: absolute;
				top: 50%;
				left: 5px;
				transform: translate(0,-50%);
			}
		}
		.inner {
			font-family         : rcl;
			font-size           : 14px;
			text-align          : justify;
			line-height         : 1.3em;
			padding             : 10px;
			display             : none;
		}
	}
	/* ↑↑↑ /section 10 ↑↑↑ */

	/* ↓↓↓ section 11 ↓↓↓ */
	.s11-wrapper {
		max-width            : 1920px;
		margin               : 0 auto;
		position             : relative;
		z-index              : 1;
		overflow             : hidden;
		.parallax-item {
			display            : none;
		}
		.s11-img-cover {
			width              : 100%;
			height             : 100%;
			background-color   : rgba(0,0,0,.5);
			position           : absolute;
			z-index            : 2;
		}
	}
	.section11 {
		width                : 300px;
		margin               : 0 auto;
		padding              : 20px 15px;
		color                : white;
		text-align           : center;
		position             : relative;
		z-index              : 3;
	  &__header {
	  	font-family        : rcb;
	  	font-size          : 20px;
	  }
	  &__subheader {
	  	font-family        : rcl;
	  	font-size          : 18px;
	  	padding            : 20px 0;
	  }
	  &__contacts {
	  	font-family        : rcb;
	  	font-size          : 20px;
	  	color              : #34965b;
	  	margin-left        : 6px;
	  	text-shadow: 0 0 3px black;
	  	&:hover {
	  		color            : #127439;
	  	}
	  }
	  &__contact-btn {
	  	background-color   : #34965b;
	  	&:hover {
	  		background-color : #127439;
	  	}
	  }
	}
	/* ↑↑↑ /section 11 ↑↑↑ */
}