@media only screen and (min-width: 768px) {
  .section2 {
    grid-template-columns: 2fr 3fr;
    &__text {
    }
    &__logo {
      img {
        width: 400px;
      }
    }
  }
  .section3 {
    &__method-holder {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .section4 {
    &__method-holder {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}