// ↓↓↓ BEM-blocks: contacts (start) ↓↓↓

style
  include contacts.css

.contacts-wrapper
  .contacts
    .contacts__item
      a.contacts__logo(href='tel:+44 (20) 80893080')
        i.fas.fa-phone-volume
      .contacts__data
        p +7 (499) 6092664
        p +371 (67) 660422
        p +44 (20) 80893080
    .contacts__item
      a.contacts__logo(href='mailto:support@goldeninvestbroker.com')
        i.far.fa-envelope
      .contacts__data support@goldeninvestbroker.com
    .contacts__item
      a.contacts__logo(href='skype:live:support_59929?chat')
        i.fab.fa-skype
      .contacts__data support@goldeninvestbroker.com
    .contacts__item
      .contacts__logo
        i.fab.fa-buromobelexperte
      .contacts__data
        p Monday-Friday
        p GMT 9:00–19:00

//- script
  include contacts.js

// ↑↑↑ BEM-blocks: contacts (end) ↑↑↑