@media only screen and (min-width: 992px) {

	/* ↓↓↓ section 2 ↓↓↓ */
	.section2 {
		width                : 992px;
		&__instruction-header {
			font-size          : 26px;
		}
	}
	/* ↑↑↑ /section 2 ↑↑↑ */

	/* ↓↓↓ section 4 ↓↓↓ */
	.section4 {
		width                : 992px;
		&__card {
			width                 : 300px;
			height                : 330px;
		}
	}
	/* ↑↑↑ /section 4 ↑↑↑ */

	/* ↓↓↓ section 9 ↓↓↓ */
	.section9 {
		width                   : 992px;
		grid-template-columns   : 3fr 2fr;
	  &__img {
			width                 : 100%;
	  }
	}
	/* ↑↑↑ /section 9 ↑↑↑ */

	/* ↓↓↓ section 10 ↓↓↓ */
	.section10 {
		width                 : 982px;
		grid-template-columns : 1fr 4fr;
		&__img {
			display: inline;
			margin: none;
		}
	}
	/* ↑↑↑ /section 10 ↑↑↑ */

	/* ↓↓↓ section 11 ↓↓↓ */
	.s11-wrapper {
		max-width            : 1920px;
		margin               : 0 auto;
		position             : relative;
		z-index              : 1;
		overflow             : hidden;
		.parallax-item {
			display            : block;
			position           : absolute;
			z-index            : 1
		}
		.s11-img-cover {
			width              : 100%;
			height             : 100%;
			background-color   : rgba(0,0,0,.5);
			position           : absolute;
			z-index            : 2
		}
	}
	.section11 {
		width                : 992px;
	}
	/* ↑↑↑ /section 11 ↑↑↑ */
}