// ↓↓↓ BEM-blocks: contacts (start) ↓↓↓

style
  include contacts.css

.contacts-wrapper
  .contacts
    .contacts__item
      span.contacts__logo(href='#')
        i.fas.fa-phone-volume
      .contacts__data
        p: a.contacts__tel(href='tel:+74996092664') Russian Federation, Moscow: +7 (499) 6092664
        p: a.contacts__tel(href='tel:+37167660422') Latvia, Riga: +371 (67) 660422
        p: a.contacts__tel(href='tel:+442080893080') United Kingdom, London: +44 (20) 80893080
    .contacts__item
      a.contacts__logo(href='mailto:support@platinumtrade.org')
        i.far.fa-envelope
      .contacts__data support@platinumtrade.org
    .contacts__item
      a.contacts__logo(href='skype:#')
        i.fab.fa-skype
      .contacts__data support@platinumtrade.org
    .contacts__item
      .contacts__logo
        i.fab.fa-buromobelexperte
      .contacts__data
        p Monday-Friday
        p GMT 9:00–19:00

//- script
  include contacts.js

// ↑↑↑ BEM-blocks: contacts (end) ↑↑↑