doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Login

    link(rel='icon', href='assets/img/logo-small.png')

    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/slick.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/slick-theme.css')

    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='assets/css/forgot_your_password.css')

    // jquery
    script(src='assets/libs/jquery.js')
  body
    //- include assets/BEM-blocks/size-info/size-info.pug
    // HEADER
    include assets/BEM-blocks/header/header_en.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper
        section.section1
          h1.section1__header PASSWORD RECOVERY
          h5.section1__subheader GoldenINVEST site client zone
          .form-wrapper
            // SECTION left
            section.section-left
              h1.section-header Forgot your password?
              p.password-info
                | A password reset link will be sent to your e-mail, which you specified during registration.
              form(action='#', name='forgot-password-form', method='post')
                input(type='text', name='email')
                button(type='submit') Send request
            // /SECTION left
            // SECTION right
            section.section-right
              h1.section-header Are you not a GoldenINVEST customer yet?
              a.create-acc(href='check_in_en.html') Open a live account
            // /SECTION right
      // /SECTION 1
      include assets/BEM-blocks/contacts/contacts_en.pug
      include assets/BEM-blocks/slick_money/slick_money.pug
    // /MAIN SECTION

    // FOOTER
    footer
      include assets/BEM-blocks/footer/footer_en.pug
    // /FOOTER

    // js-libs (font awesome, slick, wow ...)
    script(src='assets/libs/fontawesome-all.js')
