doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Management

    link(rel='icon', href='assets/img/logo-small.png')

    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/slick.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/slick-theme.css')

    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='assets/css/management.css')

    // jquery
    script(src='assets/libs/jquery.js')
  body
    //- include assets/BEM-blocks/size-info/size-info.pug
    // HEADER
    include assets/BEM-blocks/header/header_en.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper
        section.section1
          h1.section1__header MANAGEMENT
          h5.section1__subheader DEAR TRADER, WELCOME YOU IN THE SECTION "GUIDELINES"!
      // /SECTION 1

      // SECTION 2
      .s2-wrapper
        section.section2
          .section2__logo: img(src="assets/img/logo-big.png", alt="logo-big.png")
          .section2__text
            p In this section you will find information on how to work with a trading account. Namely, two, perhaps, the most important things for any participant of financial markets:
              |
              |
              span.bold-text how to replenish your trading account
              |
              | and in what way
              |
              span.bold-text withdraw the earnings.

            p Our online trading platform offers a variety of trading tools to the trader's attention.

            p
              |
              span.bold-text GoldenINVEST
              |
              | is pleased to meet the needs of any client, so we offer four types of trading accounts.

            p In a world where speed and the ability to move around solve everything, special convenience gives the opportunity for mobile commerce.

            p.bold-text WE WISH YOU SUCCESSFUL TRADING!

            p.italic-text If you have any questions about working with the trading platform, then you will receive a guaranteed exhaustive answer from your personal manager!
      // /SECTION 2

      // SECTION 3
      .s3-wrapper
        section.section3
          h1.section3__header BALANCE SUPPLEMENT
            |
            | TRADING ACCOUNT
          h5.section3__subheader CHOOSE THE OPTIMUM WAY FOR YOURSELF:

          .section3__method-holder
            .section3__method-item
              .section3__method-item-head
                .section3__method-item-logo: i.far.fa-credit-card
                .section3__method-item-header Deposit with a bank card
              .section3__method-item-body Instant online replenishment from your personal account using a debit or credit card Visa, MasterCard, Maestro. Do not forget to check all the details you enter.
            .section3__method-item
              .section3__method-item-head
                .section3__method-item-logo: i.fas.fa-dollar-sign
                .section3__method-item-header Replenishment through payment systems
              .section3__method-item-body You can also make a deposit through your personal account using Bitcoin, QIWI, Yandex Money. Crediting of funds occurs depending on the speed of processing of a particular payment system.
            .section3__method-item
              .section3__method-item-head
                .section3__method-item-logo: i.fas.fa-university
                .section3__method-item-header Bank transfer
              .section3__method-item-body All the necessary details you can get from your specialist.
                br
                |
                |
                span.bold-text Attention:
                |
                | Crediting of funds can take from 1 to 7 working days.
      // /SECTION 3

      // SECTION 4
      .s4-wrapper
        section.section4
          h1.section4__header Withdrawal of funds
          h5.section4__subheader MAIN TRADING IS PROFITS, so in GoldenINVEST you have made sure that you can withdraw the earnings in just two steps:
          p.section4__step.bold-text 1 - Go to your personal area.
          p.section4__step.bold-text 2 - Apply for a conclusion.
          p.section4__step And all - it remains only to wait until the bank transfers the money to you on the account.

          .section4__method-holder
            .section4__method-item
              .section4__method-item-head
                .section4__method-item-logo: i.far.fa-credit-card
                .section4__method-item-header Withdrawal of funds to a bank card
            .section4__method-item
              .section4__method-item-head
                .section4__method-item-logo: i.fas.fa-dollar-sign
                .section4__method-item-header Withdrawal of funds through the payment system
            .section4__method-item
              .section4__method-item-head
                .section4__method-item-logo: i.fas.fa-university
                .section4__method-item-header Withdrawal via bank transfer
          .section4__info
            p NOTE! Company
              |
              |
              span.bold-text GoldenINVEST
              |
              | strictly follows the guidance on combating money-laundering.

            p therefore:
            p.bold-text • You can withdraw money only from the electronic wallet, debit or credit card or bank account from which you at least once refilled your trading account;
            p.bold-text • Before the withdrawal of the earnings, GoldenINVEST employees can request from you documents identifying your identity in order to verify the merchant account and verify the authenticity of the information provided.

            p Please, treat this with understanding. These are the requirements of modern financial policy, and this is the only reliable tool for combating money laundering. Law-abiding traders have absolutely nothing to fear.

            p.bold-text Before you specify the amount for transfer, please make sure that it does not include funds credited to the promotion or as a bonus, which can not be withdrawn. You can find out more about the conditions for calculating and using bonuses on the "Terms and Conditions" page.
      // /SECTION 4

      // SECTION 5
      .s5-wrapper
        section.section5
          h1.section5__header TO GET A CONSULTATION
          h5.section5__subheader If you have any questions regarding the replenishment of balance or withdrawal of funds, please contact our customer service team GoldenINVEST!
          include assets/BEM-blocks/contact_form/contact_form_en.pug
      // /SECTION 5

      include assets/BEM-blocks/slick_money/slick_money.pug
      include assets/BEM-blocks/notification_of_risks/notification_of_risks_en.pug
    // /MAIN SECTION
    // FOOTER
    footer
      include assets/BEM-blocks/footer/footer_en.pug
    // /FOOTER

    // js-libs (font awesome, slick, wow ...)
    script(src='assets/libs/fontawesome-all.js')
