doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Terms and conditions

    link(rel='icon', href='assets/img/logo-small.png')

    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')

    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='assets/css/terms_and_conditions.css')

    // jquery
    script(src='assets/libs/jquery.js')

  body
    //- include assets/BEM-blocks/size-info/size-info.pug
    // HEADER
    include assets/BEM-blocks/header/header_en.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper
        section.section1
          h1.section1__header TERMS AND CONDITIONS
          h5.section1__subheader Last revised: 18.06.2018
          .info
            p ADITUM LTD (company registered under the laws of Saint Vincent and the Grenadines, registration number 24581 IBC 2018, office is located at Suite 305, Griffrth Corporate Center Mailing Address: PO Box I510, Beachmont Kingstown) (hereinafter - the Company), provides access to the site https://goldeninvestbroker.com (hereinafter referred to as the Site) and the possibility to use the services of the Site by an individual or a legal entity (hereinafter referred to as the Customer) in the manner and under the terms of this Agreement (hereinafter the "Agreement"). This Agreement is concluded between the Company on the one hand, and the Client, an individual, on the other.

            p: span.bold-text 1.General regulations
            p 1.1. This Agreement explains the use of various conditions applicable to the services available on our Site. The client has the right to freely use our support services, contact the Company by e-mail at any time if there are any questions. Our site is available worldwide, wherever there is Internet access. Access to and use of our Site is subject to these Terms and Conditions.

            p USING OUR SITE, THE CLIENT AGREE WITHOUT LIMITATION ALL CONDITIONS AND AGREEMENTS SUBMITTED IN THIS CONTRACT.

            p 1.2. The Company reserves the right to change these terms and conditions at any time. Changes to these terms and conditions come into effect when they post their new, modified version on our Site. By using our Site, the Client agrees in advance that every use of the Site will be governed by the current terms and conditions. By using our Site, the Client accepts these Terms and Conditions, as well as the Privacy Policy placed below. If the Customer does not agree with these Terms, he must immediately stop using the Site.

            p: span.bold-text 2. Agreement on online services
            p This Agreement is concluded between the Company ("Our Site") and the Client. This Agreement applies to both our Site and the trading platform, as well as to the electronic content and / or software contained at a particular moment on Our Website, which in real time provides buyers with information on the exchange rate, as well as software services for transactions in the market Forex via the Internet, by phone or fax, and any other functions, content or services that the Company may add later (the "Services").

            p: span.bold-text 3.Terms of cooperation
            p 3.1. Services are available only to persons who can enter into a contract that has legal force under the laws of their state of residence. Without limiting the conditions mentioned below, our Services are not accessible to persons under 18 years of age or who have not reached the age of majority established in their country of residence (hereinafter referred to as "Minors"). Minors can not use this Site.

            p WEARLY PLEASE DO NOT USE OUR SITE, IF YOU DO NOT HAVE THIS RIGHT.

            p 3.2. For the avoidance of any doubt, the Company disclaims responsibility for any cases where Minors without authorization use our services in any form and under any pretext. In addition, our Services are available only to people with experience and sufficient knowledge in the field of finance, able to assess the benefits and risks of concluding financial contracts through our Site. The client is fully personally responsible for any decisions made by him based on the content of our Site. Without departing from the foregoing provision, the Company waives any responsibility for the audit and / or verification of the level of knowledge and / or experience of the Customer, as well as any liability for damage, which is a direct and / or indirect result of the Customer's use of our Services.

            p: span.bold-text 4. Information and registration requirements.
            p When registering, the Client must provide certain personal information. The client is responsible for the security of the login and password of his account at https://goldeninvestbroker.com. The customer bears full responsibility for the damage incurred due to any act or omission resulting from improper or illegal use of the Customer's account.
            p The client agrees to provide accurate and complete information about himself at the time of registration, and agrees not to impersonate another individual and not to hide his identity to the Company under any pretext. The Company cautiously addresses the information provided by the Customer in accordance with the rules of confidentiality of information.

            p The client registration procedure consists of 2 stages:
            p - the procedure for registering the Customer on the Company's website;
            p - the procedure for verifying the identity and data specified during registration.

            p The Client registration procedure is mandatory for the Company's Client. To complete the procedure for registering the Customer on the Company's website, it is necessary to perform the following actions:
            p - enter personal and contact information;
            p - accept the terms of this Agreement and its annexes.

            p The client is obliged to register only 1 (one) account with the Company. If several accounts belonging to the same Customer are identified, all such accounts will be blocked, and the funds held by them will not be deductible.

            p: span.bold-text 5. Legal restrictions
            p The client must understand that, without limiting the following provisions, the laws regarding financial contracts vary from country to country, and the Company must ensure that the Client can comply with any laws, regulations and rules of his country of residence regarding the use of our Site. For the avoidance of any doubt, it should be mentioned that the possibility of accessing our Site does not necessarily mean that our Services and / or the Client's activity through our Site are legal in accordance with the laws, regulations or rules of the Client's country of residence. The Client hereby declares that the money in his account at https://goldeninvestbroker.com is not related to the spread of drugs, terrorism, kidnapping or other illegal activities.

            p: span.bold-text 6.Limited license
            p 6.1. The Company provides the Client with a limited non-exclusive, non-transferable license to access and use our Website (the "License"). The License is subject to the Client's consent to the terms of this Agreement. The Client agrees not to resell or provide access to the Site to any third parties, agrees not to copy any documents contained on our website for resale or any other purposes without obtaining the written consent of the Company.

            p 6.2. The client will be responsible for any unauthorized use of our Site in violation of this section. The Client agrees to use all information obtained in the information systems https://goldeninvestbroker.com, with the sole purpose of performing transactions within the limits of the Site. The client also agrees not to use the electronic communication function on our Site for any unlawful, abusive, threatening, aggressive acts, or to infringe upon the rights and / or intrusion into the privacy of others. A license granted under this Agreement will cease to be effective if the Company deems null and void any information provided by the Customer or if the Customer ceases to comply with any of the terms of this agreement or any of the instructions and rules for each service. The same is true if the Company determines that the Customer has committed a crime on the trading platform https://goldeninvestbroker.com (including, without limitation, transactions outside market rates). In the event of such violation, the Customer agrees to terminate his use of our Services. The Client agrees that the Company, in its sole discretion and without prior notice, may terminate access to the services in whole or in part, close any open transaction and remove and destroy any information or content within the service.

            p: span.bold-text 7. Financial Information
            p Through one of its Services or more, with https://goldeninvestbroker.com can provide the client with access to a wide range of financial information accumulated from agents, suppliers or partners (hereinafter referred to as "Third Party Suppliers"). This includes (but is not limited to) financial market data, quotes and news, analysts' opinions, and research reports (the "Financial Information"). The financial information provided on this site is not an intentional investment recommendation. The company provides financial information only as a service. https://goldeninvestbroker.com and its Third Party Suppliers do not guarantee the accuracy, timeliness, completeness or correct sequence of Financial Information, as well as the results of its use by you. Financial information can quickly become unreliable for various reasons, including, for example, due to changes in market conditions or economic circumstances. Neither the Company nor the Third Party Suppliers are required to update the information or opinions included in the Financial Information, and we may interrupt the flow of Financial Information at any time without prior notice. The client is responsible for clarifying the reliability of the information on the Site and its suitability for their needs. We exclude any liability for any claims, damage or loss of any kind caused by the information contained on the Site or referred to by the Site.

            p: span.bold-text 8. References
            p https://goldeninvestbroker.com may offer links to other sites created or controlled by third parties. Such links to the site or sites are neither the support, nor the approval, sponsorship or confirmation of such sites, their owners or suppliers. The company recommends carefully assessing the risks associated with the use of such sites, before downloading data or making purchases over the Internet. Links to these sites are provided solely for the convenience of the Customer, who agrees not to hold the Company liable for any loss or damage due to the use of any content, products or services available on other sites.

            p: span.bold-text 9. Trading cancellation
            p The Company reserves the right, at its sole discretion, to cancel or refuse to provide services, and / or refuse to deliver profits to any person for legitimate reasons. Including, without restrictions:
            p if the Company has reason to believe that the activity of this person on the Site may be illegal;
            p if the Company can incur any financial or material damage due to somebody's activities;
            p if the Company believes that one or more actions on the Site have been committed in violation of this agreement.

            p: span.bold-text 10. Deposit procedures
            p In order to deposit funds into the account, the Client must draw up a request for money from the personal cabinet. To this end, the Customer must choose one of the payment systems listed on the Company's website and click on the appropriate link with all necessary data. To replenish the account the following currencies are available: USD and EUR. The processing time for a deposit application depends on the chosen payment system and can not be settled by the Company. If there is a technical capability, the operations for input using electronic payment systems can take place instantly. When using a bank transfer, the terms can be from 3 to 14 business days, depending on the bank used by the Client and correspondent banks. The company is not a tax agent and does not provide data on the transactions of its customers to third parties. Such information can be provided only if there is an official request from the competent state authorities.

            p: span.bold-text 11. Withdrawal rules
            p 11.1. The official means of input / output of funds are the Company's purses / accounts in those payment systems listed on the Company's website. All risks associated with the use of payment systems are accepted by the Customer, since payment systems are not partners of the Company. The Company is not responsible for the delay and / or non-receipt of funds to the balance of the Customer's account through the fault of the payment system. In the event that claims arise from the Client for the correct operation of payment systems, the Customer should contact the support of such a payment system. The client is obliged to notify of cases of such appeals. The Company shall not be liable for the actions of third parties engaged in intermediary activity when conducting operations involving the introduction / withdrawal of funds by the Customer. When the Client conducts operations for the deposit of funds, the Company's financial responsibility starts from the moment the Customer's funds are received on the Company's bank account and / or the Company's account in the payment systems indicated on the Company's website. In case of revealing the signs of fraud in the implementation of financial transactions after crediting funds to the balance of the Customer's account, the Company reserves the right to cancel this transaction and freeze the customer's account. When the Client conducts withdrawal operations, the Company's financial responsibility ends when the funds are debited from the Company's bank account and / or from the Company's account in the payment systems indicated on the Company's website.

            p 11.2 To withdraw funds from the account, the Client sends a request for withdrawal of funds from his personal profile. In order to fill out the withdrawal request properly, the Customer must select one of the payment methods from the list and indicate all necessary data. After the Client sends a request for withdrawal of funds, the request receives the status "Sent". When the request is processed, it receives the status "In processing". After assigning the status "In processing", the requested funds are debited from the balance on the Client's account. After the withdrawal request is "Processed", the requested funds are transferred to the payment system. Requests for withdrawal of funds are processed by the Company's financial department in the order of the queue. Processing time is 24 hours. The company reserves the right to increase the processing time of the application. The client has the right to withdraw funds only through the payment system, which was used to deposit funds into his account. If you withdraw funds through the payment system that was used to deposit funds, it is technically impossible, the payment method is chosen by the Company in accordance with the wishes of the Customer. In this case, the payment details must correspond to the information specified by the Customer in their personal information.
            p The Customer bears full responsibility for the information provided to the Company in the withdrawal request. In the event that the Customer uses a bank card to enter funds, the withdrawal of funds must be made to this card for an amount not exceeding the amount of input from this card for a period of 90 (ninety) calendar days from the date of the funds' entry. Payments to bank cards have a higher priority than other ways of withdrawing funds. The withdrawal time can vary from 1 to 5 working days, but processing can take longer due to various factors, including, among other things, the speed of the digital network and / or the ability to process withdrawal requests, and in these cases the Company is not liable for any delays and / or losses incurred by the Clients.

            p 11.3. In the event of technical errors on the part of the Company when performing financial transactions, the Company reserves the right to cancel such transactions and their results, as well as the results of the services provided by the Company.

            p: span.bold-text 12. The procedure for verifying the identity (verification).
            p 12.1. The Company's financial department keeps track of every replenishment of the deposit by the client and a mandatory requirement after the replenishment is the identity verification procedure (verification). The procedure for verifying the identity and data is carried out by the Company to confirm the correctness and completeness of the data specified by the Customer at the time of registration. To conduct this procedure, the Company must demand, and the Client must provide:

            p - scan or digital photograph of the All-citizens', Foreign Passport, ID Card or other document, identifying the Client in a legible form. For citizens of the Russian Federation - page spread (s) with a photo and personal data.
            p - For citizens of other countries - passport page with a photo and personal data or other document (for example ID Card) containing a photo and personal data.
            p - scan or digital photo of the payment card with the display of the first 6 (six) and the last 4 (four) digits. (file format: jpg or png or pdf)
            p - fill in, sign, scan or make a digital photo and send it to support@goldeninvestbroker.com - F-306 Credit Card Authorization Form and I-402 Authorization (these forms are provided by the Company after the deposit is replenished).

            p 12.2. In addition, the Company has the right to demand current utility bills, an agreement with the bank to open a personal account, as well as any other documents, if the above documents do not allow to fully identify the Client and / or personal data specified by him.

            p 12.3. The procedure for verifying the identity and data must be carried out within 10 (ten) business days from the moment the Company filed a request to verify the identity of the Client. In certain cases, this period may be extended to 30 (thirty) working days at the discretion of the Company.
            p In the case of non-provision of data for the verification of the Client, the Company is entitled to terminate this Agreement unilaterally and not refund the funds made by the Client earlier before passing the verification procedure.

            p: span.bold-text 13. Refund policy (REFUND & RETURNS POLICY OTHER T & C'S).
            p 13.1. The company strives to ensure that every customer is satisfied with the quality of the services provided. It is for this purpose that this refund policy is intended.
            p When replenishing a trading account from a bank card, you agree not to apply for the withdrawal of a payment already credited to a merchant account to your bank or to your credit card provider both during and after the use of our services. Any such attempt will be regarded by our Company as a violation of the Client Agreement. If the Company still receives a withdrawal of payment for the transaction, we reserve the right to freeze the current balance of the customer and send the funds back to the trading account after payment of all services and commissions. Also, if no trading activity was recorded in your account within a month, or if trading was conducted, but in insufficient volume (the trading volume is calculated by the company individually), we will be entitled to return the money to the sender. In this case, we return the entire deposit. Also, for certain objective reasons and if necessary, the Company can make a refund of payments received through any payment system, including credit / debit cards. In this case, the funds will be returned back to the same payment system, credit / debit card or bank account from which they were received. Upon receipt of a request for payment / refund, the Company may spend up to 5 banking days processing the request. After approval of the request, you need to wait 5-7 additional days before transferring funds to the Customer's account. The client is entitled to a full 100% refund of its unused funds. In the event of a loss, no compensation is provided, and the Company is not liable.

            p 13.2. In case of reasonable suspicion that the source of your funds and / or activity as a whole is contrary to the Company's Anti-Money Laundering Policy (AML), the Company reserves the right to unilaterally refuse to deposit / withdraw funds to / c your accounts in our systems, freeze these assets and return them back to the sender. Please note that we will also be required to notify the relevant government agencies of each violation of the AML policy and will be entitled to disclose your personal information. The Company will take all necessary measures to prevent and block both the enrollment and the withdrawal of funds from your accounts by third parties. Entering and withdrawal of funds from the account can be carried out only by the owner of this account.

            p 13.3. In the event that during the whole period of using our services, we classify any of your activities (especially replenishment / withdrawal) contrary to the usual purpose of using our services, where there is a direct or indirect, wrongful or unfair intention, we reserve the right to act within the framework of this document, without informing you in advance. At the same time, you, in this case, will reimburse our direct and indirect losses / damages that we incurred as a result of your activities, in particular - we at our discretion compensate ourselves for all the costs associated with money transfers while retaining the appropriate amounts from your funds.

            p: span.bold-text 14. Bonus and Referral System
            p The company provides attractive incentives for its new and loyal customers. Bonuses and referral system (the same bonuses), as well as disposable and / or reusable trade credits are included in the Company's rewards program. The amount of the bonus depends on the size of the Customer's deposit, or on the terms of the promotion, within which the Client is credited with bonus funds. Bonus funds credited to the Client's trading account are not financial obligations of the Company to the Client. These bonuses have time limits, and the conditions related to them may vary. In bonuses and shares, the currency corresponding to the currency of the Client's Trading Account is used. To withdraw your bonus, the Client will need to complete at least 30 trading operations for each bonus of one dollar within 5 days. If this condition is not met for the entire amount of bonuses, then the bonuses are canceled. The bonus can be withdrawn only if the above conditions are fully observed and fulfilled. Any withdrawal of funds from any account, made before the terms of the bonus withdrawal, will be immediately canceled and deleted from the account. Any signs of fraud, illegal manipulation, other forms of fraud and fraudulent activity will be the reason for canceling the account, as well as any related profits or losses.

            p: span.bold-text 15. Limited liability
            p The Company strives to ensure the continuity of the Services on the Site. However, the Company is not liable for any errors, omissions, deletions, interruptions, delays, defects in the operation of the Site and transmission, communication line failures, theft, loss due to material damage, unauthorized access or modification of the Site or Services. The company disclaims responsibility for any problems or technical malfunctions of any telephone networks and lines, hardware or software, any technical malfunctions and problems with traffic, on the Site or with the Services. Under applicable law, the company is in no way responsible for any loss or damage arising from the use of the Site or the Services with any content posted on the Site or through the Services, nor for the conduct of all users of the Site or Services, be it online or offline.

            p IN NO EVENT SHALL THE COMPANY'S WEBSITE, ITS MANAGERS, EMPLOYEES OR REPRESENTATIVES BE LIABLE FOR ANY DAMAGES FOR ANY DAMAGES WHATSOEVER PAID BY THE CLIENT. INCLUDING, WITHOUT LIMITATION, INDIRECT, INCIDENTAL, INCIDENTAL, OR PUNITIVE DAMAGES ARISING FROM THE USE OF THE SITE OR SERVICES. HEREBY RELEASES, WITHOUT LIMITATION, THE USE OF THE INFORMATION PROVIDED IN THE SITE, AND ALSO ACCEPTING ANY DECISIONS ON THE BASIS OF THE INFORMATION PLACED ON THE SITE - INDEPENDENTLY OF THE DAMAGES PREDICTED OR NOT, HAS THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGE OR NOT. LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION AND IN NO EVENT SHALL THE TOTAL DEBT OF THE COMPANY TO YOU WILL NOT EXCEED THE TOTAL AMOUNT transferred or structure belonging to the Account customers to your site in a deal that led to those debts.

            p: span.bold-text 16. Prevention of money laundering
            p 16.1. This site is prohibited from being used for money laundering purposes. The company uses the best practices against money laundering. The Company reserves the right to refuse any business relations and to terminate them, as well as to cancel any operation of buyers who do not comply with the requirements for combating money laundering:
            p Online traders must provide all the information required for registration.
            p The profits will be paid to the person who first registered the account online.

            p 16.2. In the case when the client maintains his account through bank transfers, the profits will be transferred to the sole owner of the initial bank account. When deposits are made using a credit or debit card, the payoff will only transfer to the person whose name is indicated on the card from which the deposit is made and will be refunded to the same card. Only one account per individual is allowed. Profits will not accrue to accounts opened under the fals

            p: span.bold-text 17. Intellectual property
            p All content, any trademark, service mark, trade name, logo and badge are the property of https://goldeninvestbroker.com, its affiliates or agents, are protected by law, international agreements and copyright provisions. The Customer agrees not to remove copyright notices or other features of the protected intellectual property rights on any material that the client prints or downloads from the Site. The client will not receive any intellectual property rights, as will any license or right to use such materials or the Site, except as described later in this document. The images shown on the Site are the property of the Company. The Customer agrees not to download, post, distribute or reproduce any information, software or other materials protected by copyright or other intellectual property rights (including the right to publicity and privacy) without prior authorization from the copyright owner rights and prior written consent of the Company.

            p: span.bold-text 18. Indemnification
            p The Client agrees to protect our Company, its officers, directors, employees and agents from any claims, liabilities, damages, losses and expenses, including, without limitation, reasonable payment for the lawyer's work and expenses arising from or in any way connected with access of the Client to the Site or use by the Client of the Site or Services; from violation by the Client of any terms of this Agreement; from violation by the Client of any applicable laws or regulations.

            p: span.bold-text 19. Term and Termination Agreement
            p The term of the Agreement is unlimited. Nevertheless, the Company has the right to terminate this Agreement at any time by notifying the Client. If the client, for whatever reason is not available on the information provided to him for communication, or does not respond within 5 calendar days, the Company is entitled to terminate the agreement unilaterally. Upon termination of the Agreement, the Client will not be able to conduct new operations.

            p: span.bold-text 20. General Reservations
            p The company will not in any way be liable to any persons in the event of force majeure or for the actions of any government or legal authority. In the event that any provision of this Treaty is declared invalid or unenforceable, the remaining provisions shall remain in force. The inability of either party to secure any provision of this Treaty shall not be deemed a waiver of such provision. Our Company may transfer this Agreement or any rights and / or obligations under this Agreement without the Client's consent. Our Company may from time to time make changes to the terms of this Agreement by posting modified terms on the Site. The client is responsible for verifying the changes made to the Agreement. Any amendment shall enter into force on the day of publication on the Site. If you do not agree to comply with the amended terms of this Agreement, the Customer shall not use or access our Services and shall immediately notify the Company thereof in writing.

            p: span.bold-text 21. Governing Law and Courts with exclusive jurisdiction
            p This Treaty will be governed by the laws of the Independent State of Saint Vincent and the Grenadines without regard to the choice of principles of law. Any legal action or proceeding arising in connection with this Treaty will be considered exclusively in the courts of the Independent State of Saint Vincent and the Grenadines and the parties unconditionally agree to such jurisdiction and such venue.

      // /SECTION 1

    // /MAIN SECTION

    // FOOTER
    footer
      include assets/BEM-blocks/footer/footer_en.pug
    // /FOOTER

    // js-libs (font awesome, slick, wow ...)
    script(src='assets/libs/fontawesome-all.js')