@media only screen and (min-width: 320px) {

  .form-wrapper {
    width: 90%;
    max-width: 1000px;

    margin: 15px auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .section-left {
      width: 100%;
      padding: 15px;
      .section-header {
        font-family: arial;
        font-size: 22px;
        color: grey;
      }
      .section-subheader {
        font-family: rm;
        font-size: 14px;
        margin: 10px auto;
      }
      ul {
        font-family: arial;
        font-size: 14px;
        li {
          position: relative;
          padding-left: 18px;
          &:before {
            content: '\f00c';
            font-family: fa;
            font-size: 14px;
            display: block;
            position: absolute;
            top: 0; left: 0px;
            color: dodgerblue;
          }
        }
      }
    }
    .section-right {
      width: 100%;
      padding: 15px;
      border: 1px solid lightgrey;
      position: relative;
      .section-subheader {
        font-family: arial;
        font-size: 18px;
        text-align: justify;
        margin-bottom: 20px;
      }
      .registration-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 60px;
        label {
          width: 35%;
          height: 30px;
          line-height: 30px;
          margin: 6px 0;
          font-family: arial;
          font-size: 12px;
          text-align: right;
          &:not(:last-of-type):before {
            content: '*';
            color: red;
            position: relative;
            top: -3px;
            left: -3px;
          }
        }
        input:not(#input-checkbox),
        select {
          width: 60%;
          margin: 6px 0;
          border: 1px solid lightgrey;
          border-radius: 3px;
          height: 30px;
          padding: 0 10px;
        }
        .phone-wrapper {
          display: flex;
          justify-content: space-between;
          width: 60%;
          #input-country-code {
            width: 20%;
          }
          #input-company-code {
            width: 20%;
          }
          #input-phone {
            width: 50%;
          }
        }
        .form-agree {
          width: 100%;
          input {
            position: relative;
            top: 2px;
          }
          a {
            display: inline block;
            font-family: arial;
            font-size: 12px;
            position: relative;
            left: 0px;
            top: 0px;
            &:hover {
              color: dodgerblue;
              text-decoration: underline;
            }
          }
        }
        .form-button {
          width: 100%;
          padding: 10px 0;
          button {
            width: 100%;
            height: 40px;
            text-transform: uppercase;
            background-color: #911e2e;
            color: white;
            transition: background-color .5s;
            cursor: pointer;
            outline: none;
            border: 1px solid transparent;
            border-radius: 4px;
            &:hover {
              background-color: #a13e5e;
            }
          }
        }
        .info-field {
          height: 0px;
          line-height: 30px;
          font-family: rl;
          font-size: 12px;
          width: 60%;
          margin-left: 40%;
          padding: 0 10px;
          border-left: 3px solid red;
          background-color: rgba(255,0,0,.1);
          overflow: hidden;
        }
      }
      .form-section-footer {
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0; left: 0;
        background-color: #1a283a;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 15px;
        span {
          display: inline-block;
          font-family: arial;
          font-size: 14px;
          color: white;
          padding: 0 15px;
          a {
            color: #be273c;
            font-family: rm;
            font-size: 16px;
            svg {
              font-size: 14px;
            }
            &:hover {
              color: #0088cc;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}