// ↓↓↓ BEM-blocks: footer + copyright (start) ↓↓↓

style
  include footer.css

.footer-wrapper
  .footer
    .footer__foo1
      a.footer__logo-link(href="#")
        img.footer__logo-img(src='assets/img/logo-medium.png' alt='logo-medium.png')
    .footer__foo2
      h3.footer__header Запрет на услуги:
      p.footer__text ADITUM LTD не предоставляет свои услуги жителям США, Канады, Сирии, Ирана, Северной Кореи и Японии, а также другим регионам, где услуги не могут быть оказаны в связи с действующими ограничениями в законодательстве.
    .footer__foo3
      h3.footer__header Сайт и управление:
      p.footer__text https://goldeninvestbroker.com является торговой маркой компании ADITUM LTD. Suite 305, Griffith Corporate Centre, BOX 1510, Beachmont, Kingstown, Saint Vincent and the Grenadines.
      p ADITUM LP is a limited partnership located at Suite 6, 5 Percy Street, Fitzrovia, London, W1T 1DG, UK
    .footer__foo4
      h3.footer__header Условия:
      ul.footer__list
        li.footer__list-item
          a.footer__list-link(href="terms_and_conditions.html") Условия и соглашения
        li.footer__list-item
          a.footer__list-link(href="notification_of_risks.html") Уведомления о рисках
        li.footer__list-item
          a.footer__list-link(href="privacy_policy.html") Политика конфиденциальности
        li.footer__list-item
          a.footer__list-link(href="aml_and_kyc_policies.html") Политика AML и KYC
        li.footer__list-item
          a.footer__list-link(href="refund_policy.html") Политика возврата
        li.footer__list-item
          a.footer__list-link(href="denial_of_responsibility.html") Отказ от ответственности

//- script
  include footer.js

//- style
  include copyright.css

.copyright-wrapper
  .copyright
    .copyright__span Copyright © 2018 (ADITUM LTD). Все права защищены.
    ul.copyright__social
      li.copyright__list-item
        a.copyright__list-link(href="tel:+442080893080"): i.fas.fa-phone-volume
      li.copyright__list-item
        a.copyright__list-link(href="mailto:support@goldeninvestbroker.com"): i.far.fa-envelope
      li.copyright__list-item
        a.copyright__list-link(href="skype:live:support_59929?chat"): i.fab.fa-skype

//- script
  include copyright.js

// ↑↑↑ BEM-blocks: footer + copyright (end) ↑↑↑