@media only screen and (min-width: 1200px) {

  .form-wrapper {
    .section-right {
      .section-subheader {
      }
      .registration-form {
        .form-agree {
          width: 75%;
          a {
            left: 23px;
            top: -8px;
          }
        }
        .form-button {
          width: 25%;
         }
      }
    }
  }
}