@font-face {font-family: fa;   src: url(../fonts/fa-solid-900.ttf);}

@font-face {font-family: rcb;  src: url(../fonts/RobotoCondensedBold.ttf);}
@font-face {font-family: rcl;  src: url(../fonts/RobotoCondensedLight.ttf);}
@font-face {font-family: rcli; src: url(../fonts/RobotoCondensedLightItalic.ttf);}
@font-face {font-family: rl;   src: url(../fonts/RobotoLight.ttf);}
@font-face {font-family: rm;   src: url(../fonts/RobotoMedium.ttf);}

@font-face {font-family: rb;   src: url(../fonts/RubikBold.ttf);}