doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title  Отказ от ответственности

    link(rel='icon', href='assets/img/logo-small.png')

    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')

    // own stylesheet and js
    link(rel='stylesheet', type='text/css', href='assets/css/denial_of_responsibility.css')

    // jquery
    script(src='assets/libs/jquery.js')

  body
    //- include assets/BEM-blocks/size-info/size-info.pug
    // HEADER
    include assets/BEM-blocks/header/header.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      .s1-wrapper
        section.section1
          h1.section1__header ОТКАЗ
            br
            | ОТ ОТВЕТСВЕННОСТИ
          h5.section1__subheader Последняя редакция: 18.06.2018г.
          .info
            p Принимая Условия и соглашения - далее Договор, Вы тем самым подтверждаете, что осведомлены о рисках, присущих деятельности в области бинарных опционов, включая частичную или полную потерю инвестируемых средств. Компания ADITUM LTD считает, что, начиная торговлю бинарными опционами, Вы инвестируете суммы только в том объёме, который можете себе позволить. Перед началом операций просим Вас подробно ознакомиться с условиями Договора.

            p Компания предупреждает, что данное уведомление не может, не раскрывает и не разъясняет все возможные риски и другие важные аспекты, связанные с торговлей Бинарными Опционами. Данный документ только в общих чертах поясняет характер возможных рисков, возникающих при работе c Бинарными Опционами.

            p Доводим до Вашего сведения, что курсы валют на Сайте аналогичны установленным компанией ADITUM LTD на продажу бинарных опционов клиентам. При этом Компания ADITUM LTD не несёт ответственности за их несовпадение с курсами на рынке в реальном времени продаж опциона.

            p Принимая условия Договора, Вы берёте на себя полную ответственность за взаимодействие с компанией ADITUM LTD в установленных законом рамках, включая соответствие этого взаимодействия законам и иным правовым актам страны Вашего проживания. Просим Вас заранее, до принятия условий Договора, ознакомиться с возможностью налоговых взысканий на прибыль с подобных операций в Вашей стране.

            p Вы соглашаетесь получать от компании ADITUM LTD письма информационного и рекламного характера. Компания ADITUM LTD в свою очередь обязуется исключить Вас из всех рассылок по первому требованию.

            p Размещая сделки на сайте, вы подтверждаете, что достигли 18-летнего возраста. В случая выявления Компанией несовершеннолетних трейдеров на платформе, доступ к счету такого трейдера будет немедленно закрыт, в том числе в случае наличия денежных средств на счете.

            p Компания не несет финансовой ответственности за результаты операций совершенных Клиентом. Компания так же не несет ответственности за потери, связанные с сервисом по копированию сделок других трейдеров.

            p Каждый клиент имеет право на открытие только одного торгового аккаунта на платформе. Прибыль, полученная по счетам, открытым на вымышленное имя, или по нескольким счетам, открытым одни и тем же лицом будет аннулирована и недоступна для вывода. Если один клиент открыл несколько торговых счетов, то прибыль будет аннулирована по всем открытым счетам, и доступ ко всем счетам будет закрыт для дальнейшего разбирательства. По договоренности с Компанией, возможно восстановление доступа только к одному из счетов и перевод средств с оставшихся заблокированных счетов, в случае невыявления незаконных действий со стороны клиента по получению прибыли с использованием нескольких счетов.

            p В случае нанесения Компании неправомерного финансового ущерба, Компания вправе удержать со счета клиента суммы, равные суммам издержек (судебных, операционных и т.д.), вызванных неправомерными действия Клиента, в том числе издержкам, вызванным оспариванием поступивших от клиента платежей с привлечением третьих лиц.

            p БИЗНЕС-МОДЕЛЬ И ДОХОДЫ
            p Компания ADITUM LTD подразумевает, что Вы ознакомлены с бизнес-моделью осуществляемой деятельности, результат которой полностью подчинен выбору конкретного направления движения цен активов от изначальной цены исполнения до заданной даты истечения.

            p До совершения сделки, трейдеру предоставляется полная информация о сделке: название актива, цена исполнения, выбранное направление изменения цены («CALL» или «PUT»), а также сумма инвестиций, определяемая трейдером для конкретной сделки.
      // /SECTION 1

    // /MAIN SECTION

    // FOOTER
    footer
      include assets/BEM-blocks/footer/footer.pug
    // /FOOTER

    // js-libs (font awesome, slick, wow ...)
    script(src='assets/libs/fontawesome-all.js')